<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Shopping Cart", "Index", "Credential", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">

                <ul class="navbar-nav flex-grow-1">

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Products", "Index", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                            @Html.ActionLink("Logout", "Logout", "Credentials", new { area = "" }, new { @class = "nav-link" })
                        }
                        else if (User.IsInRole("User"))
                        {

                            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            @*<li>@Html.ActionLink("My Posts", "Index", "Blogs", new { area = "" }, new { @class = "nav-link" })</li>*@

                            @Html.ActionLink("Logout", "Logout", "Credentials", new { area = "" }, new { @class = "nav-link" })
                        }



                    }

                    else
                    {


                        <li>@Html.ActionLink("Login", "Index", "Credentials", new { area = "" }, new { @class = "nav-link" })</li>
                    }

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("User"))
                        {
                            <li class="nav-link"><a>User(@User.Identity.Name)</a></li>



                        }
                        else
                        {
                            <li class="nav-link"><a>@User.Identity.Name</a></li>



                        }

                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - By Pawan Thaku</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#pawan').DataTable();
        });
    </script>
</body>
</html>